@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css");
@import url("https://cdn.jsdelivr.net/npm/css-toggle-switch@latest/dist/toggle-switch.css");
.is-hidden-mobile {
  display: none; }
  @media (min-width: 768px) {
    .is-hidden-mobile {
      display: block; } }

.wrap {
  padding: 0 1.5625em; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #666666;
  font-size: 1em;
  line-height: 1.5;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1,
h4 {
  margin: 0; }

h1 {
  font-size: 1.5em;
  font-weight: 400; }

h4 {
  font-size: 1.125em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.25em; }

p {
  line-height: 1.5em; }

b {
  font-weight: 700; }

a {
  font-size: 0.875em;
  color: #7377BF;
  text-decoration: none; }
  a:hover {
    color: #4D4C72;
    text-decoration: underline; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

button {
  outline: 0;
  text-transform: uppercase; }

.side-nav__link a, .side-nav__link--current a {
  display: flex;
  padding: 0.9375em;
  border-bottom: 3px solid transparent;
  transition: border-left-color 0.3s ease-in-out; }
  @media (min-width: 768px) {
    .side-nav__link a, .side-nav__link--current a {
      display: flex;
      justify-content: center;
      border-left: 3px solid transparent;
      border-bottom: none;
      margin-top: 1.875em;
      padding: 0.9375em 0; } }

.side-nav__link a:hover, .side-nav__link--current a {
  border-bottom-color: #85DB81; }
  @media (min-width: 768px) {
    .side-nav__link a:hover, .side-nav__link--current a {
      border-left-color: #85DB81; } }

.chart-nav__link a, .chart-nav__link--current a {
  padding: 0.5em 0.875em;
  color: #8e8e8e;
  font-weight: 700; }
  .chart-nav__link a:hover, .chart-nav__link--current a:hover {
    text-decoration: none; }

[class^="btn--"] {
  width: 100%;
  padding: 0.9375em;
  border: 0;
  color: #FFF;
  border-radius: 0.4em;
  text-transform: uppercase;
  font-weight: 400;
  transition: opacity 0.3s; }
  [class^="btn--"]:hover {
    opacity: .75; }
  [class^="btn--"]:active {
    opacity: initial; }

.tab--content .alert-message::after, .settings form::after {
  content: '';
  display: table;
  clear: both; }

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }
  .main-header a {
    color: #FFF; }
    .main-header a:hover {
      color: #FFF;
      text-decoration: none; }
  .main-header svg {
    width: 20px;
    height: 20px;
    transition: transform .3s ease-out; }
    .main-header svg:hover {
      transform: scale(1.2); }
  .main-header .site-logo {
    margin-right: auto;
    font-size: 1.5em;
    font-weight: 300; }
  .main-header .user-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.625em; }
  .main-header .user-nav li:first-child {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-right: 1.25em; }
    .main-header .user-nav li:first-child .notifications-dot {
      position: absolute;
      height: 0.5em;
      width: 0.5em;
      top: -2px;
      right: -2px;
      background-color: #85DB81;
      border-radius: 50%; }
  .main-header .user-nav li:last-child {
    padding: 0.3125em 0 0.3125em 0.9375em;
    border-left: 2px solid #5D61BF; }
    .main-header .user-nav li:last-child .user {
      display: flex;
      align-items: center; }
      .main-header .user-nav li:last-child .user--img {
        width: 33px;
        height: 33px;
        border-radius: 50%; }
      .main-header .user-nav li:last-child .user--name {
        margin-left: 0.625em; }
  @media (min-width: 768px) {
    .main-header .user-nav {
      padding: 0; } }

.side-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .side-nav__link a svg {
    width: 32px;
    height: 32px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out; }
  .side-nav__link a:hover svg {
    opacity: 1; }
  .side-nav__link--current a svg {
    width: 32px;
    height: 32px;
    opacity: 1; }
  @media (min-width: 768px) {
    .side-nav {
      display: flex;
      flex-direction: column; } }

form {
  flex-basis: 100%; }

fieldset,
legend {
  margin: 0;
  padding: 0; }

fieldset {
  border: none; }

legend {
  font-size: 1.125em;
  padding-bottom: 0.9375em;
  width: 100%;
  text-transform: uppercase; }

label {
  display: block;
  margin-bottom: 0.9375em; }

input,
select,
textarea {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1.25em;
  padding: 0.9375em;
  outline: 0;
  border-radius: 0.4em;
  border: 1px solid #d8d8d8; }

select {
  color: #B2B2B2;
  font-weight: 300;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../icons/arrow-down.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.6875em top 55%, 0 0;
  background-size: 1.25em auto, 100%; }

::placeholder {
  color: #B2B2B2;
  font-weight: 300; }

.btn--primary {
  background-color: #7377BF; }
.btn--secondary {
  background-color: #B2B2B2; }
.btn--search {
  background-color: #FFF; }

.btn--search {
  width: auto;
  margin-left: -5px;
  color: #7377BF;
  border: 1px solid #d8d8d8;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none; }
  .btn--search:hover {
    opacity: initial; }

header {
  background-color: #7377BF;
  grid-area: head; }

.sidebar {
  background-color: #4D4C72;
  grid-area: sidenav; }

.tab {
  grid-area: tab; }

.line-chart {
  grid-area: line_chart; }

.bar-chart {
  grid-area: bar_chart; }

.donut-chart {
  grid-area: donut_chart; }

.social {
  grid-area: social; }

.new-members {
  grid-area: new_members; }

.recent-activity {
  grid-area: recent_activity; }

.message-user {
  grid-area: message_user; }

.settings {
  grid-area: settings; }

.container {
  display: grid;
  grid-template-rows: minmax(max-content, 70px);
  grid-template-areas: 'head' 'sidenav' 'tab' 'line_chart' 'bar_chart' 'donut_chart' 'social' 'new_members' 'recent_activity' 'message_user' 'settings'; }
  @media (min-width: 768px) {
    .container {
      grid-template-columns: 90px 1fr 1fr;
      grid-template-rows: 70px auto;
      grid-template-areas: 'head head head' 'sidenav tab tab' 'sidenav line_chart line_chart' 'sidenav bar_chart donut_chart' 'sidenav social social' 'sidenav new_members recent_activity' 'sidenav message_user settings'; } }

.widgets {
  padding: 1.875em;
  border-bottom: 1px solid #d8d8d8; }
  .widgets:last-child {
    border-bottom: none; }
  @media (min-width: 768px) {
    .widgets:nth-last-child(2) {
      border-bottom: none; }
    .widgets:nth-child(5), .widgets:nth-child(8), .widgets:nth-child(10) {
      border-right: 1px solid #d8d8d8; } }

.tab--header {
  display: flex;
  flex-direction: column-reverse; }
  .tab--header h1 {
    margin: 0 -25px;
    padding: 25px;
    border: 1px solid #d8d8d8;
    border-bottom-color: #FFF;
    z-index: 999; }
  .tab--header form {
    display: flex;
    flex-direction: row;
    padding: 25px 0; }
    .tab--header form input {
      width: 100%;
      margin: 0; }
  @media (min-width: 768px) {
    .tab--header {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .tab--header h1 {
        margin-right: 0; }
      .tab--header form {
        padding: 0; }
        .tab--header form input {
          margin-left: auto;
          width: 50%; } }
  @media (min-width: 1024px) {
    .tab--header form input {
      width: 25%; } }
.tab--content {
  position: relative;
  top: -1px;
  border-top: 1px solid #d8d8d8; }
  .tab--content .alert-message {
    display: block;
    margin-bottom: 1.875em;
    padding: 0.9375em;
    color: #FFF;
    background-color: #7377BF;
    border-radius: 0.4em; }
    .tab--content .alert-message p {
      display: inline;
      margin: 0; }
      .tab--content .alert-message p b {
        padding-right: 0.625em; }
    .tab--content .alert-message button {
      width: auto;
      padding: 0;
      float: right; }
    @media (min-width: 768px) {
      .tab--content .alert-message {
        margin-top: 1.5625em;
        margin-bottom: 0; } }

.chart {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .chart-nav {
    display: flex;
    flex-direction: row; }
    .chart-nav__link--current a {
      margin: 0 0.625em;
      color: #FFF;
      border-radius: 1.25em;
      background-color: #81C98F; }
  .chart-container {
    width: 100%;
    max-height: 300px; }
    .chart-container canvas {
      width: 100% !important; }

.social-stats__col {
  display: flex;
  margin: 0 1em 2em;
  padding: 1.25em;
  border: 1px solid #d8d8d8;
  border-radius: 0.4em; }
  .social-stats__col--icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4.5em;
    width: 4.5em;
    background-color: #7377BF;
    border-radius: 50%; }
    .social-stats__col--icon svg {
      width: 32px;
      height: 32px; }
  .social-stats__col--content {
    margin-left: 1.25em; }
    .social-stats__col--content .text {
      display: block;
      margin-bottom: -20px;
      color: #7377BF;
      font-size: 1.25em;
      font-weight: 700; }
    .social-stats__col--content .number {
      font-size: 3.25em;
      font-weight: 300; }
@media (min-width: 768px) {
  .social-stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .social-stats__col {
      flex: 1 25%; } }

.list-group__item {
  display: flex;
  padding-bottom: 0.9375em; }
  .list-group__item + .list-group__item {
    padding-top: 0.9375em;
    border-top: 1px solid #e8e8e8; }
  .list-group__item--img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 0.625em; }
  .list-group__item--content p {
    margin-top: 0;
    margin-bottom: -0.375em; }
  .list-group__item--info {
    margin-left: auto; }
    .list-group__item--info:before {
      content: "\f054";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: 300;
      text-decoration: inherit;
      font-size: 1.125em; }
    .list-group__item--info:hover {
      text-decoration: none; }
  .list-group__item--date {
    margin-left: auto; }

.settings form .btn-grouped {
  width: 50%;
  float: left;
  padding-left: 0.9375em;
  padding-right: 0; }
  .settings form .btn-grouped:first-of-type {
    padding-left: 0;
    padding-right: 0.9375em; }
@media (min-width: 768px) {
  .settings form select {
    margin: 3.4375em 0; } }

.switch-ios {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 18.75em; }
  .switch-ios.switch-light strong {
    flex: 3; }
  .switch-ios.switch-light > span {
    flex: 1.2;
    background-color: #B2B2B2;
    border: 2px solid #d8d8d8; }
  .switch-ios.switch-light span span {
    color: #FFF;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase; }
  .switch-ios.switch-light > span span {
    top: 2px; }
  .switch-ios.switch-light a {
    left: 6px;
    top: 4px;
    width: 1.5em;
    height: 1.5em;
    border: 3px solid #d8d8d8; }
  .switch-ios.switch-light input:checked ~ span {
    border-color: #d8d8d8;
    box-shadow: inset 0 0 0 30px #7377BF; }
  .switch-ios.switch-light input:checked ~ span a {
    border-color: #d8d8d8;
    outline: 0; }

/*# sourceMappingURL=style.css.map */
