// =============================================
//              Chart             
// =============================================

.chart {
    @include flexbox(flex, row, space-between);

    &-nav {
        @include flexbox($dir: row);

        li:first-child {
            margin-left: em(14px);
        }

        @include elem(link) {

            a {
                @extend %nav-chart-link;
            }

            @include modi(current) {

                a {
                    @extend %nav-chart-link;
                    color: $white;
                    border-radius: em(20px);
                    background-color: $color-secondary;
                }
            }
        }
    }

    &-container {
        width: 100%;
        max-height: 300px;

        canvas {
            width: 100% !important;
        }
    }
}