// ============================================= 
//              Grid System                      
// ============================================= 

header {
    background-color: $color-primary;
    grid-area: head;
}

.sidebar {
    background-color: palette(color-primary, x-dark);
    grid-area: sidenav;
}

.tab {
    grid-area: tab;
}

.line-chart {
    grid-area: line_chart;
}

.bar-chart {
    grid-area: bar_chart;
}

.donut-chart {
    grid-area: donut_chart;
}

.social {
    grid-area: social;
}

.new-members {
    grid-area: new_members;
}

.recent-activity {
    grid-area: recent_activity;
}

.message-user {
    grid-area: message_user;
}

.settings {
    grid-area: settings;
}

.container {
    display: grid;
    grid-template-rows: minmax(max-content, 70px);
    grid-template-areas:
        'head'
        'sidenav'
        'tab'
        'line_chart'
        'bar_chart'
        'donut_chart'
        'social'
        'new_members'
        'recent_activity'
        'message_user'
        'settings';


    @include mq(tablet) {
        grid-template-columns: 90px 1fr 1fr;
        grid-template-rows: 70px auto;
        grid-template-areas:
            'head head head'
            'sidenav tab tab'
            'sidenav line_chart line_chart'
            'sidenav bar_chart donut_chart'
            'sidenav social social'
            'sidenav new_members recent_activity'
            'sidenav message_user settings';
    }
}

.widgets {
    padding: em(30px);
    border-bottom: 1px solid palette(grey, light);

    &:last-child {
        border-bottom: none;
    }

    @include mq(tablet) {
        &:nth-last-child(2) {
            border-bottom: none;
        }

        &:nth-child(5),
        &:nth-child(8),
        &:nth-child(10) {
            border-right: 1px solid palette(grey, light);
        }
    }
}