// ============================================= 
//              Buttons                       
// ============================================= 

.btn {
    @include bg-colors($btn-colors);
}

[class^="btn--"] {
    @extend %btn;
}

.btn--search {
    width: auto;
    margin-left: -5px;
    color: $color-primary;
    border: 1px solid palette(grey, light);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;

    &:hover {
        opacity: initial;
    }
}