// ============================================= 
//              Extends                           
// ============================================= 

// Navbar
%nav-item-link {
    @include flexbox();
    padding: em(15px);
    border-bottom: 3px solid transparent;
    transition: border-left-color $trns-duration ease-in-out;

    @include mq(tablet) {
        @include flexbox($just: center);
        border-left: 3px solid transparent;
        margin-top: em(30px);
        padding: em(15px) 0;
    }
}

%nav-item-on {
    border-bottom-color: palette(color-secondary, light);

    @include mq(tablet) {
        border-left-color: palette(color-secondary, light);
        border-bottom-color: transparent;
    }
}


// Image
%img-disp {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


// Buttons
%btn {
    width: auto;
    padding: em(15px);
    border: 0;
    color: $white;
    border-radius: $br--default;
    text-transform: uppercase;
    font-weight: $font-weight--medium;
    transition: opacity $trns-duration;

    &:hover {
        opacity: .75;
    }

    &:active {
        opacity: initial;
    }
}

%clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}