// ============================================= 
//              Form                           
// ============================================= 

form {
    flex-basis: 100%;
}

fieldset,
legend {
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
}

legend {
    font-size: em(18px);
    padding-bottom: em(15px);
    width: 100%;
    text-transform: uppercase;
}

label {
    display: block;
    margin-bottom: em(15px);
}

input,
select,
textarea {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: em(20px);
    padding: em(15px);
    outline: 0;
    border-radius: $br--default;
    border: 1px solid palette(grey, light);
}

select {
    padding: 6px;
    height: 52px;
}

::placeholder {
    color: $grey;
    font-weight: 300;
}