// ============================================= 
//              Header                           
// ============================================= 

.main-header {
    @include flexbox(flex, row, flex-end, center);

    a {
        color: $white;

        &:hover {
            color: $white;
            text-decoration: none;
        }
    }

    svg {
        @include icn-size(20px);
        transition: transform .3s ease-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    .site-logo {
        margin-right: auto;
        font-size: em(24px);
        font-weight: $font-weight--light;
    }

    .user-nav {
        @include flexbox($dir: row, $align: center);
        padding-bottom: em(10px);
    }

    .user-nav li:first-child {
        display: inline-block;
        position: relative;
        margin-top: 10px;
        margin-right: em(20px);

        .notifications-dot {
            position: absolute;
            height: em(8px);
            width: em(8px);
            top: -2px;
            right: -2px;
            background-color: palette(color-secondary, light);
            border-radius: $br--round;
        }
    }

    .user-nav li:last-child {
        padding: em(5px) 0 em(5px) em(15px);
        border-left: 2px solid palette(color-primary, dark);

        .user {
            @include flexbox();
            align-items: center;

            @include modi(img) {
                @include icn-size(33px);
                border-radius: $br--round;
            }

            @include modi(name) {
                margin-left: em(10px);
            }
        }
    }


    @include mq(tablet) {
        .user-nav {
            padding: 0;
        }
    }
}