// ============================================= 
//              Images                           
// ============================================= 

.img {

    @include modi(avatar) {
        width: 33px;
        height: 33px;
        border-radius: $br--round;
    }

}